# Eclipse
.classpath
.project
.settings/
# Intellij
.idea/
*.iml
*.iws
*.ipr

# Mac
.DS_Store

# Maven
target/
dependency-reduced-pom.xml
logs/

#Application
application/src/main/resources/config.properties
